
<td>{{companyName}}</td>
<td>{{firstName}} </td>
<td>{{lastName}}</td>
<td>{{address}} </td>
<td>{{city}}</td>
<td>{{state}} </td>
<td>{{country}}</td>
<td>{{phone}}</td>
<td>{{email}}</td>
<td><a id="edit-contact" data-toggle="modal" href="#edit-contact-modal">Edit</a>
<div id="edit-contact-container"></div></td>
<td><a id="delete-contact" href="#">Delete</a></td>
