<form id="edit-invoice-form">
<div class="row-fluid">
<h2>Invoice</h2>

	<div class="controls controls-row">
	<div class="span3">
	<h4>Title:</h4>
	</div>
	<input type="text" id="title" value="{{invoice.title}}" /></div>

	<div class="controls controls-row">
<div class="span3">
	<h4>Date:</h4>
</div>
	<input type="text" class="datepicker" id="date" value="{{invoice.date}}" /></div>
	<div class="controls controls-row">
<div class="span3">
	<h4>Due Date:</h4>
</div>
	<input type="text" class="datepicker" id="dueDate" value="{{invoice.dueDate}}"></div>
	<div class="controls controls-row">
<div class="span3">
	<h4>Status:</h4>
</div>

	<select id="status">
		<option selected>
			{{invoice.status}}
		</option>
		<option>pending</option>
		<option>paid</option>
		<option>archived</option>
	</select>
</div>


</div>
<div class="row-fluid">
	<div class="span2">
		<h3>From:</h3>
		</div>
		<div class="span3">

			<select class="input-block-level" id="employeeId">
			<option value="{{employee.cid}}" selected> {{employee.firstName}} </option>
		    {{#each contacts}}
			  <option value="{{cid}}">{{firstName}}</option>
			  {{/each}}
			</select>

	</div>
	<div class="span2">
		<h3>To:</h3>
		</div>
		<div class="span3">
			<select class="input-block-level" id="clientId">
				<option value="{{client.cid}}" selected>{{client.firstName}}</option>
		    {{#each contacts}}
			  <option value="{{cid}}">{{firstName}}</option>
			  {{/each}}
			</select>

	</div>

</div>

	<button class="btn" id="save-invoice">Save</button>
	<button class="btn btn-danger" id="cancel-invoice">Cancel</button>
	</form>