
	<td>{{invoice.pref}}-{{invoice.id}} </td>
	<td> {{invoice.title}}</td>
	<td> {{invoice.date}} </td>
	<td> {{invoice.dueDate}} </td>
	<td> {{employee.firstName}}</td>
	<td> {{client.firstName}} </td>
	<td> {{invoice.status}}  </td>
	<td><a href="#" id="show-invoice">Show</a></td>
	<td><a href="#" id="delete-invoice">Delete</a></td>